#container{
	margin-top: 20px;
	width: 80%;	
	margin: auto;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    margin-left: 25%;
    margin-right: 25%;
    border-style: inset;
    border-width: 1px;
}
#headd{
	font-family: Helvetica;
	font-weight:normal;
	color:#006666;
	font-size: 40px;
}
#seachquery{
	width: 94%;
	font-size: 30px;
	font-family: Helvetica;
	color: grey;
}
#searchID{
	width: 5%;
	height: 30px;
}
#tess{
	font-size: 30px;
	color:grey;
}
#results{
	border:1px solid grey;
	overflow: scroll;
}
#presults{
	padding-left: 20px;
	font-size: 25px;
	color:grey;

}